extends layout

block content
    h1 Congrats! You've created your first #{title} app.
    p Ghiraldi is a new MVC framework for node.js.  Please feel free to contribute to the project on 
        a(href="https://github.com/sax1johno/ghiraldi-framework") github